.header-button {
  margin: 0;
}

.header-button button {
  font: inherit;
  background-color: transparent;
  border: 1px solid rgb(0, 119, 255);
  color: black;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  margin: 0 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 1s;
}

.header-button button:hover {
   background-color: rgb(53, 158, 243);
  color: white;
}